{{define "title"}}Snippet #{{.Snippet.ID}}{{end}} 
 
{{define "main"}}
    {{if .Form}}
        <h1>YOU ARE LOGGED IN AS {{.Form.Name}}</h1>
    {{end}}
    {{with .Snippet}}
        {{if timeNow .Created}}
            <div class='flash'>Snippet successfully created!</div>
        {{end}}
        <div class='snippet'> 
            <div class='metadata'> 
                <strong>{{.Title}}</strong> 
                <span>#{{.ID}}</span> 
            </div> 
            <pre><code class='content'>{{.Content}}</code></pre>
            <div class='metadata'> 
                <time>Created: {{humanDate .Created}}</time> 
                <time>Expires: {{humanDate .Expires}}</time> 
            </div> 
        </div> 
    {{end}}
{{end}}